/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #555;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* Responsive styles */

/* Smartphone */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column; /* เปลี่ยนเมนูให้แสดงเป็นรายการลงมาในขนาดของ smartphone */
    }
    nav ul li {
        margin: 10px 0; /* กำหนด margin ให้กับแต่ละรายการ */
    }
}


/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav ul li {
        margin-right: 10px;
    }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    nav ul li {
        margin-right: 20px;
    }
}
